.about-page {
}

.about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.selfie-splash {
  height: 320px;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.about-line-container {
  margin-top: 42px;
}

.about-line {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 12px;
  font-size: 1.05em;
}

.about-line__label {
  width: 160px;
  font-weight: bold;
  font-family: 'Merriweather', 'Helvetica Neue', sans-serif;
}

.about-line__content {
  flex: 1;
  color: rgb(94, 94, 94);
}

.about__skill-item {
  margin-bottom: 6px;
}
