.navbar {
  height: 54px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  display: flex;
  flex-direction: row;
  z-index: 9999;
}

.navbar__left {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 34px;
}

.navbar__logo {
  position: relative;
  top: -2px;
  font-family: 'Merriweather', 'Helvetica Neue', Helvetica, sans-serif;
  color: rgb(88, 88, 88);
  text-decoration: none;
}


.navbar__right {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0 24px;
}

a.navbar__link {
  display: block;
  font-size: 0.8em;
  color: rgb(133, 133, 133);
  transition: color 200ms ease;
  padding: 0 12px;
  text-decoration: none;
  position: relative;
  top: -2px;
}

a.navbar__link:hover {
  cursor: pointer;
  color: rgb(41, 41, 41);
}
