body, html {
  padding: 0;
  margin: 0;
  background-color: rgb(255, 255, 255);
  color: rgb(45, 45, 45);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
}

.App-logo {
  height: 40vmin;
}

.App-link {
  color: #09d3ac;
}

.fade-in-logo-enter {
  opacity: 0;
}

.fade-in-logo-enter-active {
  opacity: 1;
  transition: opacity 750ms ease-out;
}

.fade-in-logo-exit-active {
  opacity: 0;
  transition: opacity 200ms ease-out;
}

.fade-in-logo-exit-done {
  opacity: 0;
}

.fade-in-up-enter {
  opacity: 0;
  transform: translateY(4%);
}

.fade-in-up-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 2s ease-out, transform 1s ease-out;
}

.fade-in-portfolio-enter {
  opacity: 0;
}

.fade-in-portfolio-enter-active {
  opacity: 1;
  transition: opacity 1s ease-out 1s;
}

.fade-overlay-enter {
  opacity: 0;
}

.fade-overlay-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-out;
}


.fade-overlay-exit {
  opacity: 1;
}

.fade-overlay-exit-active {
  opacity: 0;
  transition: opacity 100ms ease-out;
}



.flex-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.flex-cell {
  display: flex;
  justify-content: center;
  align-items: stretch;
  box-sizing: border-box;
}

.flex-cell:before {
  content: '';
  display: table;
  padding-top: 100%;
}

.flex-item {
  flex-grow: 1;
  background: tomato;
  color: white;
}

@media screen and (max-width: 600px) {
  .flex-cell {
    flex: 0 0 100%;
  }
}

@media screen and (min-width: 600px) {
  .flex-cell {
    flex: 0 0 50%;
  }
}

@media screen and (min-width: 920px) {
  .flex-cell {
    flex: 0 0 33%;
  }
}
