body, html {
  padding: 0;
  margin: 0;
  background-color: rgb(255, 255, 255);
  color: rgb(45, 45, 45);
}

.app {
}

.App-logo {
  height: 40vmin;
}

.App-link {
  color: #09d3ac;
}

.flex-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.flex-cell {
  display: flex;
  justify-content: center;
  align-items: stretch;
  box-sizing: border-box;
}

.flex-cell:before {
  content: '';
  display: table;
  padding-top: 100%;
}

.flex-item {
  flex-grow: 1;
  background: tomato;
  color: white;
}

@media screen and (max-width: 600px) {
  .flex-cell {
    flex: 0 0 100%;
  }
}

@media screen and (min-width: 600px) {
  .flex-cell {
    flex: 0 0 50%;
  }
}

@media screen and (min-width: 920px) {
  .flex-cell {
    flex: 0 0 33%;
  }
}
